/.bsp/
/node_modules/
/modules/backend/src/main/resources/dev.js
/modules/backend/fluvii.sqlite
/modules/backend/target/
/.idea/
/modules/shared/target/
/modules/frontend/target/
/target/
/modules/shared/.js/target/
/modules/shared/.jvm/target/
/project/target/
/project/project/target/
/modules/backend/out/
/modules/backend/upload/
/modules/backend/localDeploy/
/modules/backend/static/jakon/
/modules/backend/jakon.sqlite
/upload/
/out/
